---
layout: default
---

<div class="home">

  <h1 class="page-heading">Recettes</h1>

  <ul class="post-list">
    {% for recette in site.recettes %}
    <h2>
      <a href="{{ recette.url }}">
	{{ recette.title }}
      </a>
    </h2>
    <p>{{ recette.content | markdownify }}</p>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
